<!doctype html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <nav class="navbar navbar-expand-md">
        {{ with .Site.Menus.main }}
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 collapsible">
            <ul class="navbar-nav mr-auto">
                {{ range . }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsible">
            <i class="fas fa-bars"></i>
        </button>
        <div class="mx-auto order-0 navbar-title">
            <a class="navbar-brand mx-auth" href="/">{{ .Site.Title }}<span> - {{ .Site.Params.TagLine }}</span></a>
        </div>
        {{ with .Site.Params.social }}
        <div class="navbar-collapse collapse w-100 order-3 collapsible">
            <ul class="navbar-nav ml-auto social">
                {{ range . }}
                <li class="nav-item">
                    <a href="{{ .url }}" class="nav-link">
                        <i class="{{ .icon }}"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </nav>
    <div class="page-container container-fluid">
        <div class="row">
            <div class="col-md-3 menu">
                {{ partial "menu.html" . }}
            </div>
            <div class="col-sm-12 col-md-9 content">
                {{ block "main" . }}
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "scripts.html" }}
</body>
</html>