html {
    font-size: 14px;
}

body {
    font-family: 'monospace';
}

code {
    color: gray;
}

.navbar-toggler {
    border-color: white !important;
    color: white;
}

.navbar-brand {
    padding: 0 15px 0 0;
    font-size: 1.3rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 14px;
    padding-right: 14px;
}

.content {
    background-color: #002b36;
    padding-top: 20px;
    min-height: 100vh;
}

.menu {
    background-color: #001f27;
    padding-top: 20px;
    padding-left: 0;
}

.menu nav {
    background-color: #001f27;
    min-height: 100vh;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar .social {
    display: inline-block;
    min-width: 100px;
}

.navbar .social .nav-item {
    display: inline-block;
    width: 50px;
}

.articles-list article {
    padding-bottom: 10px;
}

.highlight {
    padding-bottom: 10px;
}

hr {
    border: solid 1px #aaa;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width: 475px) {
    .navbar-brand > span {
        display: none;
    }
}

@media(max-width: 767px) {
    .navbar-brand {
        padding: 10px 0 10px 10px;
    }

    .menu {
        display: none;
    }

}