<nav class="col-md-3">
    <div id="last-posts" class="open">
        <h3 data-open="last-posts">Posts</h3>
        <ul>
            {{ range where .Site.RegularPages "Type" "posts"}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>

    {{ with .Site.Taxonomies.tags }}
    <div id="tags" class="open">
        <h3 data-open="tags">Tags</h3>
        <ul class="tags">
            {{ range $name, $taxonomy := . }}
            <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">Categories</h3>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</nav>
